# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  heroku: circleci/heroku@1.2

jobs:
  build:
    docker:
      - image: node:16
    steps:
      - checkout
      - run: yarn && yarn build
      - save_cache:
          key: v1-yarn-deps
          paths:
            - node_modules
  tests:
    docker:
      - image: node:16
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-yarn-deps
      - run: yarn test

  coverage:
    docker:
      - image: node:16
    steps:
      - checkout
      - run: yarn test:coverage

workflows:
  bibo-spa:
    jobs:
      - build
      - tests:
          requires:
            - build
      - coverage:
          requires:
            - build
