# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  build:
    docker:
      - image: node:16
    steps:
      - checkout
      - run: yarn && yarn build
  tests:
    docker:
      - image: node:16
    steps:
      - run: yarn test

  coverage:
    docker:
      - image: node:16
    steps:
      - run: yarn coverage

  deploy:
    docker:
      - image: node:16
    steps:
      - heroku/deploy-via-git:
          force: true
          requires:
            - node/test
          filters:
            branches:
              only: master

workflows:
  bibo-spa:
    jobs:
      - build
      - test:
          requires:
            - build
      - coverage:
          requires:
            - build
      - deploy:
          requires:
            - build
            - test
            - coverage
