@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Heebo', sans-serif;
  src:  url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
  font-weight: bold;
  font-style: normal;
}
