$primary-color: #86A8E7;
$dark-primary-color: #2C874DFF;
$darkest-primary-color: #02421a;
$black-color: #021700;
$light-color: #a9c7b9;
$contrast-color: #FFE77AFF;
$neutral-color: #8a8a8a;

$gradient-left-color: #45a247; // blue - #283c86
$gradient-right-color: #283c86; // green - 45a247

